footer {
  clip-path: ellipse($section-round-border 100% at bottom);
  position: relative;
  background-size: cover;
  background-position: center;
  padding: $section-spacing $mobile-padding;
  padding-bottom: 0;
  color: $color-secondary-3;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  .section-container {
    .col:first-child {
      display: flex;
      align-items: center;
    }
    @include for-size(md) {
      .col:first-child {
        display: block;
      }
    }
  }
  a {
    color: $color-secondary-3;
  }
  svg {
    margin-right: space(0.5);
  }
  img {
    max-width: 60px;
  }
  @include for-size(md) {
    * {
      text-align: center;
    }
  }
}

#copyright {
  margin-top: space(4);
  margin-left: -$mobile-padding;
  margin-right: -$mobile-padding;
  text-align: center;
  padding: space(2) $mobile-padding;
  font-size: 0.94rem;
  opacity: 0.5;
  border-top: solid 1px rgba(255, 255, 255, 0.445);
}
