// Reset style
input,
textarea,
select {
  border: none;
  outline: none;
  background: transparent;
}

// New style

label {
  display: block;
}

input:not([type="radio"], [type="checkbox"]),
textarea,
select {
  width: 100%;
  min-width: 80px;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: space(0.5);
}

input,
textarea,
select {
  padding: 14px;
  border-radius: $radius-basis;
  border: 2px solid $color-secondary-3;
}

.form-group {
  flex: 1;
  margin-bottom: space(1);
  label:nth-child(1) {
    font-weight: 900;
    color: $color-primary-dark;
    margin-bottom: 4px;
  }
}

.input-error {
  color: red;
  font-size: 0.8rem;
}

.cvv {
  display: flex;
  align-items: center;
  width: 80px;
}
