header {
  padding: space(0.5) $mobile-padding;
  .row {
    justify-content: space-between;
  }
  img {
    max-width: $logo-max-width;
  }
  nav {
    display: flex;
    align-items: center;
    .nav-menu {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      li {
        display: flex;
        align-items: center;
        margin: 0 10px;
        a {
          border-bottom: 4px solid transparent;
          border-top: 4px solid transparent;
          transition: all 0.2s;
          &:hover,
          &.active {
            border-bottom: 4px solid;
          }
        }
      }
    }
    .hamburger {
      display: none;
      .bar {
        display: block;
        width: 25px;
        height: 3px;
        margin: 5px auto;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background-color: #101010;
      }
    }
    @include for-size(md) {
      .nav-menu {
        position: absolute;
        z-index: 99;
        right: -100%;
        top: 100px;
        flex-direction: column;
        background-color: white;
        width: 100%;
        padding: space(1);
        text-align: center;
        transition: 0.3s;
        box-shadow: $shadow-base;
        &.active {
          z-index: 999;
          right: 0;
        }
        li {
          margin-bottom: space(0.5);
        }
      }
      .hamburger {
        overflow: hidden;
        display: block;
        cursor: pointer;
        &.active {
          .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
          }
          .bar:nth-child(2) {
            transform: translateX(-30px);
          }
          .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
          }
        }
      }
    }
  }
}
