// Fonts
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

body {
  font-family: "Lato", sans-serif;
  color: $color-secondary-4;
  line-height: $line-height;
}

h1,
h2 {
  font-family: "Markazi Text", serif;
  margin-bottom: space(3);
}

h1 {
  font-size: 5rem;
  line-height: 4rem;
  font-weight: 400;
  margin-bottom: space(1);
  div {
    font-size: 3.2rem;
    line-height: 3rem;
  }
  &.light {
    color: $color-primary-light;
    div {
      color: $color-secondary-3;
    }
  }
}

h2 {
  font-size: 2.8rem;
  line-height: 2.4rem;
  font-weight: 400;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: space(0.5);
}

p {
  margin-bottom: space(0.5);
}

a {
  color: $color-secondary-4;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    border-bottom: 1px solid;
  }
  &.btn-link,
  &.img-link {
    border-bottom: none;
    transition: transform 0.3s;
  }
  &.img-link:hover {
    transform: scale(1.04);
  }
}

li {
  margin-bottom: 4px;
  list-style: none;
}

.lead {
  font-size: 1.3rem;
  line-height: 1.85rem;
  font-weight: 300;
  margin-bottom: space(1.5);
}

.text-light {
  font-weight: 300;
}

.text-strong {
  font-weight: 900;
  color: $color-primary-dark;
}
