$color-primary-dark: #495e57;
$color-primary-light: #f4ce14;
$color-secondary-1: #ee9972;
$color-secondary-2: #fbdabb;
$color-secondary-3: #edefee;
$color-secondary-4: #333333;

$line-height: 1.4rem;

$bg-opacity: 0.7;

$spacing-base: 20px;
$shadow-base: 0 0 8px 0 rgba(0, 0, 0, 0.2);
$section-round-border: 180%;

$section-spacing: 100px;
$page-content-max-width: 1100px;
$logo-max-width: 200px;
$radius-basis: 8px;
$mobile-padding: space(1);

$popup-height: auto;
$popup-width: 70vw;
